@charset "UTF-8";
.maindiv {
	display: flex;
	background-color: white;
	border-style: groove;
	width: 95%;
	align-items: center;
	height: 30px;
	justify-content: space-between;
	margin-top: 10px;
	color: black;
	
}

.images {
	vertical-align: middle;
	height: 15px;
	width: 15px"
}

.links {
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
	align-items: center;
    color: black;

}

.search-bar{
	border-radius: 15px;
	height: 30px;
	margin-left: 20px;
}