<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="sidebar">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="sidebar">
<div class="maindiv1">
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/disable.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/chemistry.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/bed.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/bed.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/plus.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/contact.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/book.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/login.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/paste.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/lock.png}" class="images"></a>
</div>
<div class="iconstyling">
	<a href="#" class="links1"><img alt="" th:src="@{/images/sidebarimages/calender.png}" class="images"></a>
</div>
</div>
</div>
</body>
</html>